<template name="HomeLayout">
  <header>
    {{>header}}
  </header>
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        Sistema de promociones en base a intereses en tiempo real
      </div>
    </div>
  </div>
  <!-- inicio listado mensajes -->
      <div class="container">
        <div class="row">
          {{#each mensajes}}
          <div class="panel panel-default">
            <div id="mensaje" class="panel-body">
              <div class="row">
                <div id="foto" class="col-md-4">
                  <img src="../cfs/files/files/{{fileId}}" alt="..." class="img-thumbnail">
                </div>
                <div id="texto" class="col-md-8">
                  {{desc}}
                </div>
              </div>
              <div id="tags" class="col-md-12">
                {{#each tags}}
                  <a href="/mensajecontag/{{this}}">{{this}}</a>
                {{/each}}
              </div>
              <div class="files">
                {{#each files}}
                  {{url}}
                {{/each}}
              </div>
              <div id="foot" class="col-md-12">
                {{fromNow createdAt}} | <a href="{{_id}}">{{_id}}</a>
            </div>
          </div>
          </div>
          {{/each}}
        </div>
      </div>
<!-- fin listado mensajes -->
</template>
